<h3 class="mt-3">マイページ</h3>

<div class='mypage row p-5'>
    <div class="side col-7">
        <h1 class='side_profile'>
            <div><%= @user.name%></div>
            <div><%= @user.email%></div>
        </h1>
        <div class='side_form mt-5 border w-50 p-2'>
            <%= render 'posts/post_form'%>
        </div>
    </div>
    <div class='posts col-5 border p-3'>
        <h2>投稿</h2>
        <% if @user.posts.any? %>
            <p>
                <%= @user.posts.count %>件の投稿
            </p>
            <%= paginate @posts %>
            <% @posts.each do |post|%>
                <ul class="list-group w-100 mt-5">
                    <h3 class="post_title"><%= link_to post.title, post %></h3>
                    <li class="list-group-item"><%= link_to image_tag(post.image_url, class: "w-100"), post %></li>
                    <li class="list-group-item">投稿日: <<%= post.created_at.to_date %>></li>
                    <li class="list-group-item">
                        <%# if current_user.post? %>
                            <%= link_to "削除", post, method: :delete, data: { confirm: "本当に消しますか？"}%>
                        <%# end %>
                    </li>
                </ul>
            <% end %>
            <%= paginate @posts %>
        <% end %>
    </div>
</div>