<h1>記事の作成</h1>
<%= form_with(model: @post, local: true) do |f| %>
    <div>
        <%= f.label :タイトル %>
        <%= f.text_field :title %>
    </div>
    <div>
        <%= f.label :写真 %>
        <%= f.file_field :image%>
    </div>
    <div>
        <%= f.submit "投稿" %>
    </div>
<% end %>