<h3>投稿一覧</h3>

<div class="post-container">
<%= paginate @posts %>
    <% @posts.each do |post| %>
        <div>
            <%= post.user.name %>
        </div>
        <div class="post-title">
            <%= link_to post.title, post %>
        </div>
        <div class="post-image">
            <%= link_to (image_tag post.image.url), post %>
        </div>
        <div>投稿日: <<%= post.created_at.to_date %>></div>
            <% if logged_in? %>  <%# => ログインしているuserじゃないと、favoriteが表示できないエラーになる!! %>
                <div id="favorite_btn_<%= post.id %>">
                    <%= render 'favorites/favorite', post: post %>
                </div>
            <% end %>
    <% end %>
</div>

<%# js使えてるかのテスト
「テスト」ではなく「成功」と表示されてればjs動いてる

<p>テスト</p>
<script type="text/javascript">
    $(document).ready(function() {
        $("p").text("成功！！");
    });
</script> %>
    <%= paginate @posts %>
</div>
